.collection .grid-container {
  display: grid;
  grid-template-areas:
    'logo logo logo'
    'img-left text img-right'
    'img-left links img-right';
  height: 100vh;
  width: 100%;
  grid-template-rows: 150px 1fr 1fr;
  grid-template-columns: 250px 1fr 250px;
  margin-bottom: 64px;
  color: #565656;
  background-color: #fff;
}

.grid-container .logo-container {
  grid-area: logo;
  display: flex;
  background-color: #222;
}

.grid-container .logo-container img {
  margin: auto 0;
  height: 80%;
  width: auto;
}

.grid-container .text-container {
  grid-area: text;
  padding: 1rem 3rem;
  text-align: justify;
}

.grid-container .text-container h1 {
  text-align: center;
}

.img-left {
  grid-area: img-left;
}

.img-right {
  grid-area: img-right;
}

.img-left,
.img-right {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
}

.img-left::after,
.img-right::after {
  content: '';
  position: absolute;
  height: 150px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.collection .grid-container .links-container {
  grid-area: links;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.collection .grid-container .links-container a {
  text-decoration: none;
  color: #565656;
}

.collection .grid-container .links-container .link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.grid-container .links-container .link-container p {
  margin: auto;
  text-align: center;
  width: 200px;
}

.grid-container .links-container .link-container img {
  transition: all ease 0.5s;
}

.grid-container .links-container .link-container:hover img {
  transform: scale(1.05);
}

.grid-container .links-container .link-container:hover p {
  color: #0074be;
}

@media only screen and (max-width: 800px) {
  .collection .grid-container {
    grid-template-columns: 0px 1fr 0px;
  }

  .grid-container .logo-container img {
    max-width: 80%;
    height: auto;
  }

  .img-left,
  .img-right {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .collection .grid-container .links-container {
    flex-direction: column;
  }

  .collection .grid-container .links-container .link-container {
    display: none;
  }

  .grid-container .logo-container img {
    margin: auto 0;
    height: 80%;
    width: auto;
  }
}

div.collection-desc.tab-body.text-center.bottompad-half .eight.center {
  display: flex;
  justify-content: center;
  width: 100%;
}
