table.product-table-preview {
  margin: 2rem 0;
  border-collapse: collapse;
  width: 350px;
  font-size: 0.9rem;
  th,
  td {
    text-align: left;
    padding: 0 1rem;
  }
  th {
    text-transform: capitalize;
  }
  td {
    border-left: 1px solid firebrick;
  }
  tr:nth-child(even) {
    background: #bbb;
  }
}
