html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #222;
  color: #ddd;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin-left: 1rem;
}

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: 2px solid #ddd;
  color: #ddd;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease 0.7s;
  font-weight: 700;
  .fas {
    margin: 0 8px;
    opacity: 0.8;
  }
  cursor: pointer;
  &:hover {
    transform: scale(1.02) translateY(0.1rem);
    box-shadow: 16px 16px 16px #000;
    background-color: firebrick;
    border: 2px solid firebrick;
    color: #ddd;
  }
}

@import './htmlGenerator';
@import './templateForm';
@import './htmlPreview';
@import './CompressorHtml';
@import './productTemplatePreview';
@import './product-table-preview';
